@import url('./vars.css');

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--background);
    color: var(--white);
}

main {
    padding: 32px 64px;
    flex: 1;
}

@media (max-width: 576px) {
    main {
        padding: 16px 32px;
    }
}
