@import url('./vars.css');

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--background);
    color: var(--white);
}

main {
    flex: 1;
}
