:root {
    --yellow: #CFBC11;
    --white: #fff;
    --black: #000;
    --black-transparent: #00000066;
    --blue: #3137C9;
    --gray: #545454;
    --darken-gray: #363636;
    --red: #DD3636;
    --green: #A5FB8F;

    --shadow-light: rgba(100, 95, 95, 0.25);
    --background: #272727;
}
