
/** Header */
.header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    color: var(--white);
    background-color: var(--black);
    box-shadow: 0 5px 24px var(--shadow-light);

    width: 100%;
    padding: 0px 32px;
}

.header-logo{
    cursor: pointer;
}

.header-img{
    width: 64px;
    height: 64px;
    padding: 8px;
}

.header-nav {
    display: flex;
    position: relative;
    z-index: 999;
}

#header-ul {
    margin: 0;
    display: flex;
    align-items: center;
}

#header-ul.active {
    background-color: transparent;
}

.header-li {
    height: 100%;
}

.ul-link {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    height: 100%;

    color: var(--white);
    font-weight: 500;
    font-size: 1.1rem;

    transition: all .2s;
}

.ul-link:hover {
    background-color: var(--yellow);
}

#hamburger-btn {
    display: none;
}

.header-faq{
    cursor: pointer;
    transition: all .2s;
}

.header-faq:hover {
    background-color: var(--yellow);
}

.header-li.faq {
    display: none;
}

.active {
    background-color: var(--yellow);
}

@media (max-width: 767px) {
    .header-faq {
        display: none;
    }

    .header-li.faq {
        display: inline-block;
    }

    .header-li {
        width: 100%;
        max-height: 200px;
    }

    #hamburger-btn {
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: relative;
        outline: none;
    }

    #hamburger-btn::before {
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background-color: var(--white);

        position: absolute;
        left: 25%;
        top: 40%;

        transition: all .2s;
    }

    #hamburger-btn::after {
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background-color: var(--white);

        position: absolute;
        left: 25%;
        top: 60%;

        transition: all .2s;
    }

    #hamburger-btn:hover::after {
        background-color: var(--yellow);
    }

    #hamburger-btn:hover::before {
        background-color: var(--yellow);
    }

    #hamburger-btn.active::before {
        transform: rotate(-45deg);
        top: 50%;
    }

    #hamburger-btn.active::after {
        transform: rotate(45deg);
        top: 50%;
    }

    #hamburger-btn.active {
        position: fixed;
        top: 0;
        right: 32px;
        z-index: 9999;

        background-color: var(--black);
    }

    #header-ul {
        display: none;

        transition: opacity .2s;
    }

    #header-ul.active {
        position: fixed;
        
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: var(--blue);

        animation: opacityAnimation .5s;

        display: flex;
        flex-direction: column;

        padding-left: 0;
    }

    #header-ul.active .ul-link {
        flex-direction: row;
        align-items: center;

        font-size: 24px;
        padding: 8px 64px;
    }

    #header-ul.active .ul-link:hover {
        background-color: var(--yellow);
        color: var(--white);
    }

    body:has(#header-ul.active) {
        min-height: 1px !important; 
        overflow: hidden !important;
    }

    body:has(#header-ul.active) > main {
        height: 1px !important; 
        overflow: hidden !important;
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}