<div id="game-wrapper">
    <div id="backround">
        <div id="game" style="display: none;">
            <div class="fishing-rod">
                <img class="fill-container" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-fishing-rod.svg"
                    alt="">
                <canvas class="reel-line-tension" data-element="reel-line-tension"></canvas>
                <div class="reel-handle">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-reel-handle.svg" alt="">
                </div>
                <div class="reel-line"></div>
            </div>
    
            <div class="game-body">
                <img class="fill-container" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-game-body-bg.svg"
                    alt="">
                <canvas class="bubbles" data-element="bubbles"></canvas>
                <canvas class="seaweed" data-element="seaweed"></canvas>
                <img class="seafloor fill-container"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-sea-floor.svg" alt="">
                <div class="fish">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-fish.svg" alt="">
                </div>
                <div class="indicator">
                    <img src="https://place-hold.it/34x70/ffffff20/ffffff20" alt="">
                </div>
                <img class="glass fill-container" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-glass.svg"
                    alt="">
            </div>
    
            <div class="progress-bar">
                <img class="fill-container"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-progress-bar-bg.svg" alt="">
                <div class="progress-gradient-wrapper">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-progress-gradient.svg"
                        class="progress-gradient" alt="">
                </div>
            </div>
    
        </div>
    
        <div id="lake"></div>
        <div id="land"></div>
    
        <div id="player">
            <div id="float">
                <img src="./img/gameSprites/float.png">
            </div>
            <div id="throw-scale" style="display: none;">
                <div id="progress-bar">
                    <img id="fill-container"
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-progress-bar-bg.svg" alt="">
                    <div id="progress-gradient-wrapper">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/game-progress-gradient.svg"
                            id="progress-gradient" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="endGameBackground" class="end-game-container">
        <div class="end-game-content">
            <div class="end-game-title">Введіть своє ім'я</div>
            <input type="text" id="player-name" placeholder="Введіть ваше ім'я">
            <button id="submit-score">Додати</button>
        </div>
    </div>
</div>

<div class="settings">
    <div id="record-table">
        <div id="record-title">Таблиця рекордів</div>
        <div id="record-container"></div>
    </div>
    
    <div class="settings-group">
        <div id="reload-game">
            <button id="reload-button">Перезавантажити гру</button>
        </div>
        
        <div id="bait-table">
            <div class="bait-inner-container">
                <div id="bait-title">Кількість наживки:</div>
                <span class="bait-value" id="bait-count">10</span>
            </div>
        </div>
        
        <div id="score-indicator">
            <div class="score-container">
                <div id="score-title">Кількість очок:</div>
                <span class="score-value" id="score-count">0</span>
            </div>
        </div>
    </div>
</div>
