<div class="wrapper">
    <div class="header">
        <h2 class="header-title">Гайди</h2>
        <div class="header-search">
            <img src="#" class="header-search__img">
            <input type="text" placeholder="Пошук" class="header-search__input">
        </div>
    </div>

    <div class="content">
        <div class="class" ngFor="classes">
            <img src="{{img}}" loading="lazy" class="class-img">
            <div class="class-content">
                <div class="class-title">{{title}}</div>
                <div class="class-description">{{description}}</div>
                <div class="class-guides">
                    <a ngFor="guides" routerLink="guide/more">{{title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
