<div class="wrapper">
    <div class="info">
        <h3 class="info-title">Інформація про ресурс</h3>
        <p class="info-content">Ви попали на інформаційну сторінку! Ресурс був створенний в рамках групового проекту для показання навичок реалізації односторінкових сайтів. Сайт є допоміжним довідником по грі World Of Warcraft.</p>
    </div>

    <div class="devs">
        <div class="devs-title">Розробники</div>
        <div class="devs-wrapper">

            <div class="devs-person">
                <img class="devs-person-img" src="./img/Aizel.png" alt="person">
                <div class="devs-person-info">
                    <div class="devs-person-name">Айзель Віталій</div>
                    <div class="devs-person-description">Студент 20 років, вніс неоціненний вклад в розвиток цього ресурсу, написав мінігру для веселого проводження часу на сайті.</div>
                </div>
            </div>

            <div class="devs-person">
                <img class="devs-person-img" src="./img/Kademskyi.jpg" alt="person">
                <div class="devs-person-info">
                    <div class="devs-person-name">Кадемський Олександр</div>
                    <div class="devs-person-description">Молодий амбітний розробник, в свої 20 активно розвивається в сфері WOW, провів в ній половину життя, взяв участь в розробці функціональної частини сайту: скриптів, дерева, дизайну.</div>
                </div>
            </div>

            <div class="devs-person">
                <img class="devs-person-img" src="./img/Semkiv.png" alt="person">
                <div class="devs-person-info">
                    <div class="devs-person-name">Семків Константин</div>
                    <div class="devs-person-description">Креативний та творчий студент, в свої 19 років активно старається вижити, вніс великий вклад в цей проект (HI), було розробленно дизайн сайту з нуля, продумана ідея, реалізовано адаптив для більшості розмірностей.</div>
                </div>
            </div>

        </div>
    </div>

</div>
